header {
	background-color: white;
	height: 70px;
	width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.header-logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
    
<<<<<<< HEAD
}

=======
}
>>>>>>> 760a8661048d2cd0c36ebe90d8bb52c0c0d41ed5
